# 作業 : (Kaggle)鐵達尼生存預測

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察計數編碼與特徵雜湊的效果

# [作業重點]
- 仿造範例, 完成自己挑選特徵的群聚編碼 (In[2], Out[2])
- 觀察群聚編碼, 搭配邏輯斯回歸, 看看有什麼影響 (In[5], Out[5], In[6], Out[6])

# 作業1
* 試著使用鐵達尼號的例子，創立兩種以上的群聚編碼特徵( mean、median、mode、max、min、count 均可 )

In [32]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings('ignore')

data_path = 'data/'
df = pd.read_csv(data_path + 'titanic_train.csv')

train_Y = df['Survived']
df = df.drop(['PassengerId', 'Survived'] , axis=1)
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [33]:
# 取一個類別型欄位, 與一個數值型欄位, 做群聚編碼
"""
Your Code Here
"""
df['Cabin'] = df['Cabin'].fillna('None')
mean_df = df.groupby(['Cabin'])['Fare'].mean().reset_index()
mode_df = df.groupby(['Cabin'])['Fare'].apply(lambda x: x.mode()[0]).reset_index()
median_df = df.groupby(['Cabin'])['Fare'].median().reset_index()
max_df = df.groupby(['Cabin'])['Fare'].max().reset_index()
temp = pd.merge(mean_df, mode_df, how='left', on=['Cabin'])
temp = pd.merge(temp, median_df, how='left', on=['Cabin'])
temp = pd.merge(temp, max_df, how='left', on=['Cabin'])
temp.columns = ['Cabin', 'Fare_Sale_Mean', 'Fare_Sale_Mode', 'Fare_Sale_Median', 'Fare_Sale_Max']
temp.head()

  Cabin  Fare_Sale_Mean  Fare_Sale_Mode  Fare_Sale_Median  Fare_Sale_Max
0   A10         40.1250         40.1250           40.1250        40.1250
1   A14         52.0000         52.0000           52.0000        52.0000
2   A16         39.6000         39.6000           39.6000        39.6000
3   A19         26.0000         26.0000           26.0000        26.0000
4   A20         56.9292         56.9292           56.9292        56.9292

In [29]:
#只取 int64, float64 兩種數值型欄位, 存於 num_features 中
num_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64' or dtype == 'int64':
        num_features.append(feature)
print(f'{len(num_features)} Numeric Features : {num_features}\n')

# 削減文字型欄位, 只剩數值型欄位
df = df[num_features]
df = df.fillna(-1)
MMEncoder = MinMaxScaler()
df.head()

5 Numeric Features : ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

   Pclass   Age  SibSp  Parch     Fare
0       3  22.0      1      0   7.2500
1       1  38.0      1      0  71.2833
2       3  26.0      0      0   7.9250
3       1  35.0      1      0  53.1000
4       3  35.0      0      0   8.0500

# 作業2
* 將上述的新特徵，合併原有的欄位做生存率預估，結果是否有改善?

In [30]:
# 原始特徵 + 邏輯斯迴歸
"""
Your Code Here
"""
train_X = MMEncoder.fit_transform(df)
estimator = LogisticRegression()
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.7038635542329971

In [34]:
temp = pd.merge(df ,temp, how='left', on=['Cabin'])
temp

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_Sale_Mean,Fare_Sale_Mode,Fare_Sale_Median,Fare_Sale_Max
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S,19.157325,8.0500,10.50000,512.3292
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,71.283300,71.2833,71.28330,71.2833
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S,19.157325,8.0500,10.50000,512.3292
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,53.100000,53.1000,53.10000,53.1000
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S,19.157325,8.0500,10.50000,512.3292
5,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,None,Q,19.157325,8.0500,10.50000,512.3292
6,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,51.862500,51.8625,51.86250,51.8625
7,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,None,S,19.157325,8.0500,10.50000,512.3292
8,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,None,S,19.157325,8.0500,10.50000,512.3292
9,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,None,C,19.157325,8.0500,10.50000,512.3292
10,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,13.581250,10.4625,13.58125,16.7000
11,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,26.550000,26.5500,26.55000,26.5500
12,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,None,S,19.157325,8.0500,10.50000,512.3292
13,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,None,S,19.157325,8.0500,10.50000,512.3292
14,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,None,S,19.157325,8.0500,10.50000,512.3292
15,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,None,S,19.157325,8.0500,10.50000,512.3292
16,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,None,Q,19.157325,8.0500,10.50000,512.3292
17,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,None,S,19.157325,8.0500,10.50000,512.3292
18,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,None,S,19.157325,8.0500,10.50000,512.3292
19,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,None,C,19.157325,8.0500,10.50000,512.3292
20,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,None,S,19.157325,8.0500,10.50000,512.3292
21,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,13.000000,13.0000,13.00000,13.0000
22,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,None,Q,19.157325,8.0500,10.50000,512.3292
23,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,35.500000,35.5000,35.50000,35.5000
24,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,None,S,19.157325,8.0500,10.50000,512.3292
25,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,None,S,19.157325,8.0500,10.50000,512.3292
26,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,None,C,19.157325,8.0500,10.50000,512.3292
27,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,263.000000,263.0000,263.00000,263.0000
28,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,None,Q,19.157325,8.0500,10.50000,512.3292
29,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,None,S,19.157325,8.0500,10.50000,512.3292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,None,S,19.157325,8.0500,10.50000,512.3292
862,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,25.929200,25.9292,25.92920,25.9292
863,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,None,S,19.157325,8.0500,10.50000,512.3292
864,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,None,S,19.157325,8.0500,10.50000,512.3292
865,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,None,S,19.157325,8.0500,10.50000,512.3292
866,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,None,C,19.157325,8.0500,10.50000,512.3292
867,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,50.495800,50.4958,50.49580,50.4958
868,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,None,S,19.157325,8.0500,10.50000,512.3292
869,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,None,S,19.157325,8.0500,10.50000,512.3292
870,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,None,S,19.157325,8.0500,10.50000,512.3292
871,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,52.554200,52.5542,52.55420,52.5542
872,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,258.664600,5.0000,258.66460,512.3292
873,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,None,S,19.157325,8.0500,10.50000,512.3292
874,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,None,C,19.157325,8.0500,10.50000,512.3292
875,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,None,C,19.157325,8.0500,10.50000,512.3292
876,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,None,S,19.157325,8.0500,10.50000,512.3292
877,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,None,S,19.157325,8.0500,10.50000,512.3292
878,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,None,S,19.157325,8.0500,10.50000,512.3292
879,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,83.158300,83.1583,83.15830,83.1583
880,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,None,S,19.157325,8.0500,10.50000,512.3292
881,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,None,S,19.157325,8.0500,10.50000,512.3292
882,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,None,S,19.157325,8.0500,10.50000,512.3292
883,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,None,S,19.157325,8.0500,10.50000,512.3292
884,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,None,S,19.157325,8.0500,10.50000,512.3292
885,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,None,Q,19.157325,8.0500,10.50000,512.3292
886,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,None,S,19.157325,8.0500,10.50000,512.3292
887,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,30.000000,30.0000,30.00000,30.0000
888,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,None,S,19.157325,8.0500,10.50000,512.3292
889,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,30.000000,30.0000,30.00000,30.0000
890,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,None,Q,19.157325,8.0500,10.50000,512.3292

In [35]:
#只取 int64, float64 兩種數值型欄位, 存於 num_features 中
num_features = []
for dtype, feature in zip(temp.dtypes, temp.columns):
    if dtype == 'float64' or dtype == 'int64':
        num_features.append(feature)
print(f'{len(num_features)} Numeric Features : {num_features}\n')

9 Numeric Features : ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Fare_Sale_Mean', 'Fare_Sale_Mode', 'Fare_Sale_Median', 'Fare_Sale_Max']

In [36]:
# 削減文字型欄位, 只剩數值型欄位
temp = temp[num_features]
temp = temp.fillna(-1)
MMEncoder = MinMaxScaler()
temp.head()

,Pclass,Age,SibSp,Parch,Fare,Fare_Sale_Mean,Fare_Sale_Mode,Fare_Sale_Median,Fare_Sale_Max
0,3,22.0,1,0,7.2500,19.157325,8.0500,10.5000,512.3292
1,1,38.0,1,0,71.2833,71.283300,71.2833,71.2833,71.2833
2,3,26.0,0,0,7.9250,19.157325,8.0500,10.5000,512.3292
3,1,35.0,1,0,53.1000,53.100000,53.1000,53.1000,53.1000
4,3,35.0,0,0,8.0500,19.157325,8.0500,10.5000,512.3292

In [37]:
# 新特徵 + 邏輯斯迴歸
"""
Your Code Here
"""

train_X = MMEncoder.fit_transform(temp)
estimator = LogisticRegression()
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.6892504646627564